{% extends "layout.html" %}
{% block content %}
    <section id='pageContent'>
        <h1>Energy Effieciency Project</h1>
        <p>An evaluative project focused on the Energy Effieciency on various buildings of New York and Sanfransisco by students of UC Berkeley Extension Data Analytics.</p>
    </section>

    <section id='pageContent'>
        <h1>Project Contributors</h1>
        <ol class = 'mylist'>
              <li>Ali Syed: </li>
           <li>Yves-Andre Chapuis:</li> 
           <li>Darrin Ho: Front-End</li>
           <li> Taskin Khan: Front-End</li>
           <li>Kishore Ramakrishnan: Database parsing<li>
        </ol>

        

{% endblock content%}