{% extends "layout.html" %}
{% block content %}

<script type="text/javascript" src="static/js/LRx.js"></script>
<script type="text/javascript" src="static/js/ystar.js"></script>

<section id='pageContent'>
    <div class="slidecontainer" id="slider1">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange1">
    </div>
    <div class="slidecontainer" id="slider2">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange2">
    </div>
    <div class="slidecontainer" id="slider3">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange3">
    </div>
    <div class="slidecontainer" id="slider4">
        <input type="range" min="1" max="10" value="5" class="slider" id="myRange4">
    </div>
    <div class="slidecontainer" id="slider5">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange5">
    </div>
    <div>
        YOUR PREDICTED ENERGY SCORE IS
    </div>
    <div id="text">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/pmodel.js"></script>
</section>


{% endblock content%}